{% if hostvars[inventory_hostname]['sudoers']['groups'][item]['policy'] is defined %}
{% set policy = hostvars[inventory_hostname]['sudoers']['groups'][item]['policy'] %}
{% elif hostvars[inventory_hostname]['sudoers']['default']['policy'] is defined %}
{% set policy = hostvars[inventory_hostname]['sudoers']['default']['policy'] %}
{% else %}
{% set policy = [] %}
{% endif %}
{% if hostvars[inventory_hostname]['sudoers']['groups'][item]['allow'] is defined %}
{% set allows = hostvars[inventory_hostname]['sudoers']['groups'][item]['allow'] %}
{% elif hostvars[inventory_hostname]['sudoers']['default']['allow'] is defined %}
{% set allows = hostvars[inventory_hostname]['sudoers']['default']['allow'] %}
{% else %}
{% set allows = [] %}
{% endif %}
{% if hostvars[inventory_hostname]['sudoers']['groups'][item]['deny'] is defined %}
{% set denys = hostvars[inventory_hostname]['sudoers']['groups'][item]['deny'] %}
{% elif hostvars[inventory_hostname]['sudoers']['default']['deny'] is defined %}
{% set denys = hostvars[inventory_hostname]['sudoers']['default']['deny'] %}
{% else %}
{% set denys = [] %}
{% endif %}
%{{item}} {{policy}} {{allows|join(',')}}{{"," if allows|length > 0 and denys|length > 0 else ""}}{% if denys|length > 0 %}{% for deny in denys %}!{{deny}}{{"," if not loop.last else ""}}{% endfor %}{% endif %} 
